# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Asia/Kolkata

POSTGRES_USER=postgres
POSTGRES_PASSWORD=REDACTED
POSTGRES_DB=immich
DB_USERNAME=postgres
DB_PASSWORD=REDACTED
DB_DATABASE_NAME=immich
DB_HOSTNAME=immich-postgres
REDIS_HOSTNAME=immich-redis

# Cloudflare tunnel token
TUNNEL_TOKEN=REDACTED
