JOPLIN_BASE_URL=https://example.com/joplin
JOPLIN_PORT=22300

TRANSCRIBE_API_KEY=REDACTED
TRANSCRIBE_PORT=4567
HTR_CLI_IMAGES_FOLDER=/path/to/dir

JOPLIN_DB_USER=joplin
JOPLIN_DB_PWD=REDACTED
JOPLIN_DB_NAME=joplin
JOPLIN_DB_PORT=5432
JOPLIN_DB_DIR=/path/to/dir

TRANSCRIBE_DB_USER=transcribe
TRANSCRIBE_DB_PWD=REDACTED
TRANSCRIBE_DB_NAME=transcribe
TRANSCRIBE_DB_PORT=5431
TRANSCRIBE_DB_DIR=/path/to/dir
